body{
    background-color: bisque;
    font-family: "Slackey", sans-serif;
    background: radial-gradient(50% 50% at 50% 50%, #F8F197 41.14%, #FFE498 100%);
    background-image: url(images/background.png);
}
h1{
    /*text-align: left;*/
    font-family: "Slackey", sans-serif;
    padding-left: 20px;
    font-size: large;
}
#first{
    position: absolute;
    /*font-family: "Mea Culpa", cursive;*/
    text-align: right;
   
    font-size:50px;
    color: #0B5D8A;
    left: 640px;
    bottom: 0;
    top: 3px;
   
}
#second{
    position: absolute;
    /*font-family: "Mea Culpa", cursive;*/
    text-align: right;
   
    font-size:50px;
    color: #0B5D8A;
    left: 805px;
    bottom: 0;
    top: 50px;
   
}
h3{
    position: absolute;
    font-family: "Mea Culpa";
    text-align: right;
    font-size:31px;
    color: #0B5D8A;
    left: 938px;
    bottom: 0;
    top: 118px;
    
}
P{
font-family: "Barriecito", system-ui;
font-size: x-large;
}
img{
    display: block;
    margin: auto;
}
#bag{
    z-index: 10;
    position: relative;
}
svg{
    position: absolute;
    top: 50px;
    bottom: 0px;
    width: 180%;
    height: 80%;
    right: -205px;
    z-index: 15;
    opacity: 0;
}

.smalllip{
    z-index: 4;
    position: absolute;
    bottom: 280px;
    left: 150px;
    rotate:calc(-15deg) ;
}
.smallfish{
    z-index: 3;
    position: absolute;
    bottom: 196px;
    left: 147px;
    rotate:calc(231deg);
}
.smallcom{
    z-index: 2;
    position: absolute;
    bottom: 280px;
    left: 250px;
    rotate:calc(-35deg);
}
img {
    cursor: pointer;
    position: absolute;
}

.smallbunny{
    z-index: 1;
    position: absolute;
    bottom: 190px;
    left: 60px;
}

.fishsway{
    z-index: 3;
    position: absolute;
    bottom: 196px;
    left: 147px;
    rotate:calc(231deg);
    animation: sway 4s ease-in-out;
    animation-iteration-count: infinite;
    top: 40px;
}
.bunnysway{
    z-index: 1;
    bottom: 190px;
    left: 60px;
    animation: sway 4s ease-in-out;
    animation-iteration-count: infinite;
    top: 60px;
}
.lipsway{
    z-index: 4;
    position: absolute;
    bottom: 280px;
    left: 150px;
    rotate:calc(-15deg) ;
    animation: sway 4s ease-in-out;
    animation-iteration-count: infinite;
    top: 80px;
}
.comsway{
    z-index: 2;
    position: absolute;
    bottom: 280px;
    left: 250px;
    rotate:calc(-35deg);
    animation: sway 4s ease-in-out;
    animation-iteration-count: infinite;
    top: 80px;
}

.bigbunny{
    position: absolute;
    width: 500px;
    z-index: 20;
    right: -396px;
    bottom: 0;
    left: 390px;
}
.biglip{
    width: 500px;
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 430px;
    rotate:calc(-15deg) ;
}
.bigfish{
    width: 500px;
    rotate:calc(231deg);
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 400px;
}
.bigcom{
    width: 500px;
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 420px;
    rotate:calc(-35deg);
}
.container{
    width: 500px;
    position: relative;
    padding-bottom: 90px;
    top: -3px;
   
}
.bunnyclose{
   display: none;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}
.lipclose{
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}
.comclose{
   display: none;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}
.fishclose{
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}
/*.open{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s ease, visibility 0.4s ease;

}*/
.bunnysays{
    width: 390px;
    background-color: rgb(226, 255, 255);
    font-family: "Slackey", sans-serif;
    border-radius: 10%;
    font-size:medium;
    padding: 20px;
    position: absolute;
    inset: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 11;
    box-sizing: border-box;
    padding-top: 0px;
    height: 284px;
    margin-left: 806px;
    margin-top: 205px;
    border-radius: 15px;
    border: 3px solid #20184f;
}
.lipsays{
    width: 390px;
    background-color: rgb(226, 255, 255);
    font-family: "Slackey", sans-serif;
    border-radius: 10%;
    font-size:medium;
    padding: 20px;
    position: absolute;
    inset: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 11;
    box-sizing: border-box;
    padding-top: 4px;
    height: 267px;
    margin-left: 806px;
    margin-top: 205px;
    border-radius: 15px;
    border: 3px solid #20184f;
}
.comsays{
    width: 408px;
    background-color: rgb(226, 255, 255);
    font-family: "Slackey", sans-serif;
    border-radius: 10%;
    font-size:medium;
    padding: 20px;
    position: absolute;
    inset: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 11;
    box-sizing: border-box;
    padding-top: 5px;
    height: 295px;
    margin-left: 806px;
    margin-top: 205px;
    border-radius: 15px;
    border: 3px solid #20184f;
}
.fishsays{
    width: 390px;
    background-color: rgb(226, 255, 255);
    font-family: "Slackey", sans-serif;
    border-radius: 10%;
    font-size:medium;
    padding: 20px;
    position: absolute;
    inset: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 11;
    box-sizing: border-box;
    padding-top: 0px;
    height: 265px;
    margin-left: 806px;
    margin-top: 205px;
    border-radius: 15px;
    border: 3px solid #20184f;
}
.bunnybye {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0;
    line-height: 1;
    border: none;
    color:#FFFEF1;
    background-color: #AF071C;
    font-size: 12px;
    font-weight: 400;
    border-radius: 50%;
    position: absolute;
    right: 11px;
    top: 13px;
    cursor: pointer;
    z-index: 12;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.15s ease;
}
.combye {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0;
    line-height: 1;
    border: none;
    color:#FFFEF1;
    background-color: #AF071C;
    font-size: 12px;
    font-weight: 400;
    border-radius: 50%;
    position: absolute;
    right: 11px;
    top: 13px;
    cursor: pointer;
    z-index: 12;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.15s ease;
}
.fishbye {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0;
    line-height: 1;
    border: none;
    color:#FFFEF1;
    background-color: #AF071C;
    font-size: 12px;
    font-weight: 400;
    border-radius: 50%;
    position: absolute;
    right: 11px;
    top: 13px;
    cursor: pointer;
    z-index: 12;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.15s ease;
}

.lipbye {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0;
    line-height: 1;
    border: none;
    color:#FFFEF1;
    background-color: #AF071C;
    font-size: 12px;
    font-weight: 400;
    border-radius: 50%;
    position: absolute;
    right: 11px;
    top: 13px;
    cursor: pointer;
    z-index: 12;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.15s ease;
}
  @keyframes sway {
    0% {
      transform: rotate(0deg) translateX(0);
   }
    25% {
     transform: rotate(3deg) translateX(5px);
   }
    50% {
      transform: rotate(0deg) translateX(0);
   }
    75% {
      transform: rotate(-3deg) translateX(-5px);
    }
   100% {
     transform: rotate(0deg) translateX(0);
   }
  }
