body{
    background-color: bisque;
    font-family: "Slackey", sans-serif;
}
h1{
    text-align: center;
}
P{
   font-family: "Bahiana", sans-serif;
   font-size: x-large;
}
img{
    display: block;
    margin: auto;
}
#bag{
    z-index: 10;
    position: relative;
}
svg{
    position: absolute;
    top: 120px;
    bottom: 0;
    width: 80%;
    height: 80%;
    margin: auto;
    left: 120px;
    z-index: 15;
    opacity: 0;
}

#lip{
    z-index: 4;
    position: absolute;
    bottom: 180px;
    left: 520px;
    rotate:calc(-15deg) ;
}
#fish{
    z-index: 3;
    position: absolute;
    bottom: 100px;
    left: 515px;
    rotate:calc(240deg);
}
#com{
    z-index: 2;
    position: absolute;
    bottom: 190px;
    left: 600px;
    rotate:calc(-35deg);
}
img {
    cursor: pointer;
    position: absolute;
}

#bunny{
    z-index: 1;
    bottom: 70px;
    left: 440px;
}
.sway{
    animation: sway 4s ease-in-out;
    animation-iteration-count: infinite;
    top: 160px;
}
/*div{
    position: absolute;
    top: 120px;
    bottom: 0;
    width: 80%;
    height: 80%;
    margin: auto;
    left: 120px;
}

    position: absolute;
    top: 200px;
   
    margin: auto;
    left: 520px;
}*/
.bigbunny{
    position: absolute;
    width: 500px;
    z-index: 20;
    left: 400px;
}
.biglip{
    width: 500px;
    position: absolute;
    z-index: 20;
}
.bigfish{
    width: 500px;
    position: absolute;
    z-index: 20;
}
.bigcom{
    width: 500px;
    position: absolute;
    z-index: 20;
}
.still{
    margin: auto;
}
  @keyframes sway {
    0% {
      transform: rotate(0deg) translateX(0);
   }
    25% {
     transform: rotate(3deg) translateX(5px);
   }
    50% {
      transform: rotate(0deg) translateX(0);
   }
    75% {
      transform: rotate(-3deg) translateX(-5px);
    }
   100% {
     transform: rotate(0deg) translateX(0);
   }
  }
