body{
    background-color: bisque;
}
h1{
    text-align: center;
}
img{
    display: block;
    margin: auto;
}
#bag{
    z-index: 10;
    position: relative;
}

#lip{
    z-index: 4;
    position: absolute;
    bottom: 180px;
    left: 520px;
    rotate:calc(-15deg) ;
}
#fish{
    z-index: 3;
    position: absolute;
    bottom: 100px;
    left: 515px;
    rotate:calc(240deg);
}
#com{
    z-index: 2;
    position: absolute;
    bottom: 190px;
    left: 600px;
    rotate:calc(-35deg);
}
img {
    cursor: pointer;
    position: absolute;
}

#bunny:hover{
    animation: sway 6s ease-in-out;
    animation-iteration-count: infinite;
}
#bunny{
    z-index: 1;
    bottom: 70px;
    left: 440px;
    animation-delay: .5s;
    
}
  @keyframes sway {
    0% {
      transform: rotate(0deg) translateX(0);
   }
    25% {
     transform: rotate(3deg) translateX(5px);
   }
    50% {
      transform: rotate(0deg) translateX(0);
   }
    75% {
      transform: rotate(-3deg) translateX(-5px);
    }
   100% {
     transform: rotate(0deg) translateX(0);
   }
  }
