body{
    background-color: #F8F3D4;
}
h1{
    font-family: "Climate Crisis", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}
#line{
    display: block;
    margin: auto;
}
#start{
    font-family: "Bebas Neue", cursive;
    font-size: 25px;
    position: absolute;
    left: 33%;
    top: 61%;
}
#startgame{
    position: absolute;
    left: 44%;
    top: 75%;
    margin: auto;
    margin-top: 20px;
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #ffeb32;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
p{
    font-family: "Bebas Neue", cursive;
    font-size: 25px;
    text-align: center;
    margin: 20px;
}
/*#stats1{
    display: flex;
    
    align-items: left;
    margin-left: 100px;
    margin-top: 276px;
    float: left;
}*/
#stats2{
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-right: 100px;
    margin-top: 276px;
    float: right;
}
#player1{
    position: absolute;
    font-family: "Climate Crisis", sans-serif;
    text-align: left;
    font-size:30px;
    color: #0B5D8A;
    left: 50px;
}
#player2{
    font-family: "Climate Crisis", sans-serif;
    position: absolute;
    text-align: right;
    font-size:30px;
    color: #0B5D8A;
    right: 50px;
    top: 97px;
}
#blue{
    display: block;
    position: absolute;
    left: 145px;
    top: 230px;
}
#green{
    display: block;
    position: absolute;
    right: 145px;
    top: 230px;
}
#hp2{
    margin-bottom: 15px;
    position: absolute;
    right: 80px;
    top: 330px;
}
#hp1{
    margin-bottom: 15px;
    position: absolute;
    left: 80px;
    top: 330px;
}
#attack1{
    width: 94px;
    height: 40px;
    background-color: #65C9B2;
    border-radius: 10px;
    position: absolute;
    top: 430px;
    z-index: 0;
    left: 98px;
    border: none;
    font-family: "Bebas Neue", cursive;
    font-size: larger;
    cursor: pointer;
}
#pass1{
    width: 94px;
    height: 40px;
    background-color: #65C9B2;
    border-radius: 10px;
    position: absolute;
    top: 430px;
    z-index: 0;
    left: 210px;
    border: none;
    font-family: "Bebas Neue", cursive;
    font-size: larger;
    cursor: pointer;
}
#pass2{
    width: 94px;
    height: 40px;
    background-color: #FF84D2;
    border-radius: 10px;
    position: absolute;
    top: 430px;
    z-index: 0;
    right: 98px;
    border: none;
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
    font-size: larger;
}
#attack2{
    width: 94px;
    height: 40px;
    background-color: #FF84D2;
    border-radius: 10px;
    border: none;
    position: absolute;
    top: 430px;
    z-index: 0;
    right: 210px;
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
    font-size: larger;
}
#moves2{
    display: flex;
    gap: 25px;
    position: absolute;
    right: 95px;
    top: 416px;
    z-index: 1;
}
#moves1{
    display: flex;
    gap: 25px;
    position: absolute;
    left: 95px;
    top: 416px;
    z-index: 1;
}