body{
    background-color: #F8F3D4;
}
h1{
    font-family: "Climate Crisis", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}
#line{
    display: block;
    margin: auto;
    
}
p{
    font-family: "Bebas Neue", cursive;
    font-size: 25px;
    text-align: center;
    margin: 20px;
}
#stats1{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 100px;
    margin-top: 276px;
    float: left;
}
#stats2{
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-right: 100px;
    margin-top: 276px;
    float: right;
}
#player1{
    position: absolute;
    font-family: "Climate Crisis", sans-serif;
    text-align: left;
    font-size:30px;
    color: #0B5D8A;
    left: 50px;
   
   
}
#player2{
    font-family: "Climate Crisis", sans-serif;
    position: absolute;
    text-align: right;
    font-size:30px;
    color: #0B5D8A;
    right: 50px;
    top: 97px;
}
#blue{
    display: block;
    position: absolute;
    left: 145px;
    top: 230px;
}
#green{
    display: block;
    position: absolute;
    right: 145px;
    top: 230px;
}
#hp2{
    margin-bottom: 15px;
    position: absolute;
    right: 80px;
}
#hp1{
    margin-bottom: 15px;
    position: absolute;
    left: 80px;
}
#moves2{
    position: absolute;
    right: 115px;
    top: 420px;
}
#moves1{
    position: absolute;
    left: 115px;
    top: 420px;
}