body{
    background-color: #F8F3D4;
}
h1{
    font-family: "Climate Crisis", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}
h2{
    font-family: "Climate Crisis", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
p{
    font-family: "Bebas Neue", cursive;
    font-size: 14px;
    text-align: center;
    margin: 20px;
}
